<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Frequon Invaders</string>

    <key>CFBundleDisplayName</key>
    <string>Frequon Invaders</string>

    <key>CFBundleIdentifier</key>
    <string>us.blonzonics.frequon-invaders</string>

    <key>CFBundleVersion</key>
    <string>2.2</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>fRiN</string>

    <key>CFBundleExecutable</key>
    <string>frequon-invaders-2.2</string>

    <key>CFBundleIconFile</key>
    <string>frequon</string>
</dict>
</plist>

